<!-- Main Footer start -->
<footer class="footer">
  <div class="container pad-top">
    <div class="main-footer-middle">
      <div class="display-flex justify-content-around align-items-top">
        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Sanford Sports">Catalog</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Locations"
                    >Women's shoes</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Who we are">
                    Men's shoes</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Careers"
                    >Cosmetics for shoes</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Rentals">Accessories</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Host an event">Sale</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Sports">For custumers</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="All sports">Size Chart</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Baseball"
                    >How to place an order</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Basketball"
                    >How to choose the size</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Football"
                    >Payment and Delivery</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Golf">Discount card</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Hockey"
                    >Discounted products</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Softball"
                    >Gift certificates</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Performance Training"
                >About company</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Speed & Agility"
                    >About the brand</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Strength & Conditioning"
                    >Contacts</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Rehab">Public offer</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Rehab">SAUT results</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Questions?">Contacts</a>
            </div>
            <div class="main-footer-menu-list main-footer-socials">
              <ul>
                <li>
                  <a class="mail-to-link" href="tel:+373 78 589 095">
                    <svg>
                      <use xlink:href="svg/sprite.svg#phone"></use>
                    </svg>
                    +373 78 589 095
                  </a>
                </li>
                <li>
                  <a class="mail-to-link" href="mailto:info@tiras.md">
                    <svg>
                      <use xlink:href="svg/sprite.svg#envelope"></use>
                    </svg>
                    info@tiras.md
                  </a>
                </li>
              </ul>
            </div>

            <div class="main-footer-menu-title">
              <span>We are in social networks</span>
              <div class="social-networks">
                <a class="facebook" href="mailto:info@tiras.md">
                  <svg>
                    <use xlink:href="svg/sprite.svg#facebook"></use>
                  </svg>
                </a>
                <a class="instagram" href="mailto:info@tiras.md">
                  <svg>
                    <use xlink:href="svg/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer-bottom">
    <div class="container">
      <div class="display-flex justify-content-between align-items-center">
        <div class="copyright">
          <p>Copyright © 2021 Shoes Store TIRAS</p>
        </div>
        <div class="creativsoft">
          <a class="instagram" href="mailto:info@tiras.md">
            WITH
            <svg>
              <use xlink:href="svg/sprite.svg#solid-heart"></use>
            </svg>
            CREATIVSOFT
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Main Footer end -->
