<header class="main-header-tiras">
  <!-- TOP HEADER-->
  <div class="top-header">
    <div class="container">
      <div class="display-flex justify-content-between">
        <div class="info-block">
          <a class="mail-to-link" href="tel:+373 78 589 095">
            <svg>
              <use xlink:href="svg/sprite.svg#phone"></use>
            </svg>
            +373 78 589 095
          </a>
          <a class="mail-to-link" href="mailto:someone@example.com">
           
            Call back
          </a>

          <a class="mail-to-link" href="mailto:info@tiras.md">
            <svg>
              <use xlink:href="svg/sprite.svg#envelope"></use>
            </svg>
            info@tiras.md
          </a>
        </div>
        <div class="language-block">
          <a aria-label="Sports" href="javascript:;">
            <svg class="language-flag">
              <use xlink:href="svg/sprite.svg#united-states"></use>
            </svg>
            <span>Language</span>
            <svg>
              <use xlink:href="svg/sprite.svg#down-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END TOP HEADER-->

  <!-- BOTTOM SEARCH HEADER-->

  <div class="bottom-search-header">
    <div class="container">
      <div class="display-flex justify-content-between">
        <div class="logo-block">
          <a title="header logo" href="/">
            <svg>
              <use xlink:href="svg/sprite.svg#Tiras-logo"></use>
            </svg>
          </a>
        </div>
        <div class="search-block">
          <div class="form-group has-search">
            <svg>
              <use xlink:href="svg/sprite.svg#search-icon"></use>
            </svg>
            <input type="text" class="form-control" placeholder="Search" />
          </div>
        </div>
        <div class="features-header">
          <div class="icons-block">
            <a class="mail-to-link" href="mailto:someone@example.com">
              <svg>
                <use xlink:href="svg/sprite.svg#headphones"></use>
              </svg>
            </a>
            <a class="mail-to-link" href="mailto:someone@example.com">
              <svg>
                <use xlink:href="svg/sprite.svg#heart"></use>
              </svg>
            </a>
            <a class="mail-to-link" href="mailto:someone@example.com">
              <svg>
                <use xlink:href="svg/sprite.svg#cart"></use>
              </svg>
            </a>
          </div>
          <div class="sign-in">
            <a class="mail-to-link" href="mailto:someone@example.com">
              <svg>
                <use xlink:href="svg/sprite.svg#user"></use>
              </svg>
              SIGN IN
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nav links-->
  <div class="nav-links-header">
    <div class="container">
      <div class="display-flex justify-content-between align-items-center">
        <nav>
          <ul>
            <li>
              <a href="#">WOMEN'S SHOES</a>
            </li>
            <li>
              <a href="#">MEN'S SHOES</a>
            </li>
            <li>
              <a href="#">WOMEN'S BAGS</a>
            </li>
            <li>
              <a href="#">CHILDREN'S SHOES</a>
            </li>
            <li>
              <a href="about.html">ABOUT US</a>
            </li>
            <li>
              <a href="payment-info.html">PAYMENT AND DELIVERY</a>
            </li>
            <li>
              <a href="help.html">NEW ITEMS</a>
            </li>
          </ul>
        </nav>
        <div class="mobile-nav">
          <div class="burger-menu">
            <svg>
              <use xlink:href="svg/sprite.svg#burger-menu"></use>
            </svg>
          </div>
          <div class="features-header-mobile">

          </div>
        </div>
        <div class="right-nav-block">
          <div class="sale-link">
               <a class="mail-to-link" href="mailto:someone@example.com">
            <svg>
              <use xlink:href="svg/sprite.svg#gift"></use>
            </svg>
            SALE
          </a></div>
          <div class="social-links">
            <a class="mail-to-link" href="mailto:someone@example.com">
              <svg>
                <use xlink:href="svg/sprite.svg#facebookb"></use>
              </svg>
            </a>
            <a class="mail-to-link" href="mailto:someone@example.com">
                <picture>
                    <img src="img/instagramt.png" alt="instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Mobile menu-->
<div class="background-modal-menu"></div>
  <div id="myNav" class="overlay">
    <div class="mobile-menu-title">
    <span>Menu</span>
    
    <a href="javascript:void(0)" class="closebtn">
      <svg>
        <use xlink:href="svg/sprite.svg#close-icon"></use>
      </svg>
    </a>
  </div>
    <div class="overlay-content">
      <a href="#">Women's Shoes</a>
      <a href="#">Men's Shoes</a>
      <a href="#">Women's Bags</a>
      <a href="#">Children's Shoes</a>
      <a href="#">About us</a>
      <a href="#">Payment and Delivery</a>
      <a href="#">New Items</a>
    </div>
  </div>

</header>
