<!-- Main Header start -->
<header class="main-header">
  <div class="main-header-block">
    <div class="wrapper-block layout-row">
      <div class="main-header-logo">
        <a title="header logo" href="index.html">
          <picture>
            <!-- <source media="(max-width: 992px)" srcset="img/logo/logo-white.png"></source> -->
            <img srcset="img/logo/sanford-logo.png" alt="Sanford Sports Logo" />
          </picture>
        </a>
      </div>
      <div class="menu-links layout-row">
        <nav>
          <ul>
            <li>
              <a aria-label="Sports" href="javascript:;">
                <span>Sports</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>

              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu sports dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-column">
                    <div class="submenu-content">
                      <a aria-label="Sports Academy" href="javascript:;">
                        Sports Academy
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-row flex-wrap">
                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#baseball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Baseball"
                            >Baseball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Hockey">
                            Hockey
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#basketball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Basketball">
                            Basketball
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#softball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Softball">
                            Softball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#football"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Football"
                            >Football</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#vollyball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Volleyball"
                            >Volleyball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Golf">Golf</a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all sports"
                    >
                      See all sports
                    </a>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Partner Sports" href="javascript:;">
                        Partner Sports
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-column">
                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Lacrosse">
                            Lacrosse
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Wrestling">
                            Wrestling
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Soccer">
                            Soccer
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Track &amp Field">
                            Track &amp Field
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Featured Event" href="javascript:;">
                        Featured Event
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-image">
                      <picture>
                        <source media="(min-width: 768px)" srcset="" />
                        <source media="(max-width: 767px)" srcset="" />
                        <img src="img/event.jpg" alt="event card" />
                      </picture>

                      <div class="date-block">
                        <span>Feb</span>
                        <span>19</span>
                      </div>
                    </div>

                    <div class="info-block">
                      <span>Registrations open </span>
                      <span> West Pentagon Place</span>
                      <span> Siox Falls, SD, USA</span>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all events"
                    >
                      See all events
                    </a>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a aria-label="Performance" href="javascript:;">
                <span>Performance</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>

              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu performance dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-column">
                    <div class="submenu-content">
                      <a aria-label="Sports Academy" href="javascript:;">
                        Sports Academy
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-row flex-wrap">
                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#baseball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Baseball"
                            >Baseball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Hockey">
                            Hockey
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#basketball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Basketball">
                            Basketball
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#softball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Softball">
                            Softball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#football"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Football"
                            >Football</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all sports"
                    >
                      See all sports
                    </a>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Partner Sports" href="javascript:;">
                        Partner Sports
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-column">
                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Lacrosse">
                            Lacrosse
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Wrestling">
                            Wrestling
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Soccer">
                            Soccer
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Track &amp Field">
                            Track &amp Field
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Featured Event" href="javascript:;">
                        Featured Event
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-image">
                      <picture>
                        <source media="(min-width: 768px)" srcset="" />
                        <source media="(max-width: 767px)" srcset="" />
                        <img src="img/event.jpg" alt="event card" />
                      </picture>

                      <div class="date-block">
                        <span>Feb</span>
                        <span>19</span>
                      </div>
                    </div>

                    <div class="info-block">
                      <span>Registrations open </span>
                      <span> West Pentagon Place</span>
                      <span> Siox Falls, SD, USA</span>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all events"
                    >
                      See all events
                    </a>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a aria-label="Locations" href="javascript:;">
                <span>Locations</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>

              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu locations dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-column">
                    <div class="submenu-content">
                      <a aria-label="Sports Academy" href="javascript:;">
                        Sports Academy
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-row flex-wrap">
                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#baseball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Baseball"
                            >Baseball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Hockey">
                            Hockey
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#vollyball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Volleyball"
                            >Volleyball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Golf">Golf</a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all sports"
                    >
                      See all sports
                    </a>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Partner Sports" href="javascript:;">
                        Partner Sports
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-column">
                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Lacrosse">
                            Lacrosse
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Wrestling">
                            Wrestling
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Soccer">
                            Soccer
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Featured Event" href="javascript:;">
                        Featured Event
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-image">
                      <picture>
                        <source media="(min-width: 768px)" srcset="" />
                        <source media="(max-width: 767px)" srcset="" />
                        <img src="img/event.jpg" alt="event card" />
                      </picture>

                      <div class="date-block">
                        <span>Feb</span>
                        <span>19</span>
                      </div>
                    </div>

                    <div class="info-block">
                      <span>Registrations open </span>
                      <span> West Pentagon Place</span>
                      <span> Siox Falls, SD, USA</span>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all events"
                    >
                      See all events
                    </a>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a aria-label="Events" href="javascript:;">
                <span>Events</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>

              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu events dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-column">
                    <div class="submenu-content">
                      <a aria-label="Sports Academy" href="javascript:;">
                        Sports Academy
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-row flex-wrap">
                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#baseball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Baseball"
                            >Baseball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#basketball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Basketball">
                            Basketball
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#softball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Softball">
                            Softball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#vollyball"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Volleyball"
                            >Volleyball</a
                          >
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item layout-row mb-2">
                        <div class="icon-block">
                          <svg>
                            <use xlink:href="svg/sprite.svg#golf"></use>
                          </svg>
                        </div>
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Golf">Golf</a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all sports"
                    >
                      See all sports
                    </a>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Partner Sports" href="javascript:;">
                        Partner Sports
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-links layout-column">
                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Lacrosse">
                            Lacrosse
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>

                      <div class="submenu-link-item mb-2">
                        <div class="link-block layout-column">
                          <a href="javascript:;" aria-label="Soccer">
                            Soccer
                          </a>
                          <span>Lorem ipsum here</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="submenu-item submenu-sm layout-column">
                    <div class="submenu-content">
                      <a aria-label="Featured Event" href="javascript:;">
                        Featured Event
                      </a>
                      <p>Lorem ipsum here</p>
                    </div>

                    <div class="submenu-image">
                      <picture>
                        <source media="(min-width: 768px)" srcset="" />
                        <source media="(max-width: 767px)" srcset="" />
                        <img src="img/event.jpg" alt="event card" />
                      </picture>

                      <div class="date-block">
                        <span>Feb</span>
                        <span>19</span>
                      </div>
                    </div>

                    <div class="info-block">
                      <span>Registrations open </span>
                      <span> West Pentagon Place</span>
                      <span> Siox Falls, SD, USA</span>
                    </div>

                    <a
                      class="see-all"
                      href="javascript:;"
                      aria-label="See all events"
                    >
                      See all events
                    </a>
                  </div>
                </div>
              </div>
            </li>

            <li class="">
              <a aria-label="Community" href="javascript:;">
                <span>Community</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>

              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu community dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-row">
                    <div class="submenu-content">
                      <a aria-label="Community" href="javascript:;">
                        Community
                      </a>
                      <p>Lorem ipsum</p>
                    </div>
                  </div>
                  <div class="submenu-item layout-row">
                    <div class="submenu-content">
                      <a aria-label="Stories" href="javascript:;"> Stories </a>
                      <p>Learn directly from industry leading experts</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="">
              <a aria-label="About Us" href="javascript:;">
                <span>About Us</span>
                <svg>
                  <use xlink:href="svg/sprite.svg#down-arrow"></use>
                </svg>
              </a>
              <div
                class="submenu"
                tabindex="0"
                aria-label="submenu about us dropdown open"
              >
                <div class="submenu-inner item-megamenu">
                  <div class="submenu-item layout-row">
                    <div class="submenu-content">
                      <a aria-label="About is" href="javascript:;"> About is</a>
                      <p>Find out more about us</p>
                    </div>
                  </div>
                  <div class="submenu-item layout-row">
                    <div class="submenu-content">
                      <a aria-label="Careers" href="javascript:;">Careers</a>
                      <p>Become a part of the Sanford family</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- search block visible on large desktop only -->
    <form class="search-block layout-row" action="">
      <label for="searchInput" class="sr-only">Search header</label>
      <input
        id="searchInput"
        name="searchInput"
        type="text"
        placeholder="Search"
      />
      <button type="submit" class="search-btn">
        <svg>
          <use xlink:href="svg/sprite.svg#search-icon"></use>
        </svg>
      </button>
    </form>
    <!-- end -->

    <!-- hidden on large desktop only -->
    <div class="main-header-search">
      <a
        href="javascript:;"
        class="main-header-btns-search"
        aria-label="search icon"
        onclick="mainHeaderSearch(event)"
        onkeypress="mainHeaderSearch(event)"
      >
        <span class="sr-only">search icon</span>
        <span class="search-icon"></span>
      </a>
    </div>
    <!-- end -->

    <div
      class="burger-menu"
      tabindex="0"
      onclick="burgerMenu(event)"
      onkeypress="burgerMenu(event)"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="submenu submenu-search">
      <div class="submenu-inner">
        <form action="" method="post">
          <label for="submenu-search" class="sr-only"
            >Search submenu input</label
          >
          <input
            tabindex="0"
            type="text"
            id="submenu-search"
            name="submenu-search"
            placeholder="Search…"
          />
          <button type="submit" title="submenu search">
            <svg>
              <use xlink:href="svg/sprite.svg#search-icon"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- sticky nav -->
  <div class="sticky-nav layout-row">
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        type="button"
        id="stickyDropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span>Sioux Falls Performance Center</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="stickyDropdownMenuButton">
        <a
          class="dropdown-item"
          href="javascript:;"
          aria-label="Test Performance Center"
          >Test Performance Center</a
        >
        <a
          class="dropdown-item"
          href="javascript:;"
          aria-label="Another Performance Center"
          >Another Performance Center</a
        >
        <a
          class="dropdown-item"
          href="javascript:;"
          aria-label="Sioux Falls Performance Center"
          >Sioux Falls Performance Center</a
        >
      </div>
    </div>

    <div class="slider-tabs layout-row align-items-center">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a
                href="#sportsAcademy"
                aria-label="Sports Academy"
                class="scrollTo"
              >
                Sports Academy
              </a>
            </div>
          </div>

          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a href="#performance" aria-label="Performance" class="scrollTo">
                Performance
              </a>
            </div>
          </div>

          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a href="#facilities" aria-label="Facilities" class="scrollTo">
                Facilities
              </a>
            </div>
          </div>

          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a
                href="#entertainment"
                aria-label="Entertainment"
                class="scrollTo"
              >
                Entertainment
              </a>
            </div>
          </div>

          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a href="#events" aria-label="Events" class="scrollTo">
                Events
              </a>
            </div>
          </div>

          <!-- slider item -->
          <div class="swiper-slide">
            <div class="swiper-link">
              <a href="#contact" aria-label="Contact" class="scrollTo">
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu">
    <div class="mobile-menu-nav">
      <ul>
        <li>
          <a aria-label="Sports" href="javascript:;">Sports</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>
          <!-- first level submenu -->
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>Menu</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="Sports Academy" href="javascript:;">
                  Sports Academy
                </a>
                <div
                  class="mobile-menu-arrow"
                  tabindex="0"
                  onclick="mobileMenuArrow(event)"
                  onkeypress="mobileMenuArrow(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
                  </svg>
                </div>

                <!-- second level submenu -->
                <div class="mobile-menu-submenu">
                  <div class="mobile-menu-head">
                    <div class="mobile-menu-back">
                      <a
                        aria-label=""
                        href="javascript:;"
                        onclick="mobileMenuBack(event)"
                        onkeypress="mobileMenuBack(event)"
                      >
                        <svg>
                          <use xlink:href="svg/sprite.svg#back-arrow"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="mobile-menu-title">
                      <p>Sports Academy</p>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <a
                        class="layout-row align-items-center"
                        aria-label="Baseball"
                        href="javascript:;"
                      >
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#baseball"></use>
                        </svg>
                        <span>Baseball</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Basketball" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#basketball"></use>
                        </svg>
                        <span>Basketball</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Football" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#football"></use>
                        </svg>
                        <span>Football</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Golf" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#golf"></use>
                        </svg>
                        <span>Golf</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Hockey" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#golf"></use>
                        </svg>
                        <span>Hockey</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Softball" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#softball"></use>
                        </svg>
                        <span>Softball</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Volleyball" href="javascript:;">
                        <svg class="icon-item">
                          <use xlink:href="svg/sprite.svg#vollyball"></use>
                        </svg>
                        <span>Volleyball</span>
                      </a>
                    </li>
                    <li class="single-link">
                      <a aria-label="Hockey" href="javascript:;">
                        See all sports
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a aria-label="Partner Sports" href="javascript:;">
                  Partner Sports
                </a>
                <div
                  class="mobile-menu-arrow"
                  tabindex="0"
                  onclick="mobileMenuArrow(event)"
                  onkeypress="mobileMenuArrow(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
                  </svg>
                </div>
                <!-- second level submenu -->
                <div class="mobile-menu-submenu">
                  <div class="mobile-menu-head">
                    <div class="mobile-menu-back">
                      <a
                        aria-label=""
                        href="javascript:;"
                        onclick="mobileMenuBack(event)"
                        onkeypress="mobileMenuBack(event)"
                      >
                        <svg>
                          <use xlink:href="svg/sprite.svg#back-arrow"></use>
                        </svg>
                      </a>
                    </div>
                    <div class="mobile-menu-title">
                      <p>Partner Sports</p>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <a
                        class="layout-row align-items-center"
                        aria-label="Lacrosse"
                        href="javascript:;"
                      >
                        <span>Lacrosse</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Wrestling" href="javascript:;">
                        <span>Wrestling</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Soccer" href="javascript:;">
                        <span>Soccer</span>
                      </a>
                    </li>
                    <li>
                      <a aria-label="Track &amp Field" href="javascript:;">
                        <span>Track &amp Field</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <li>
                <a aria-label="Featured Events" href="javascript:;">
                  Featured Events</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a aria-label="Performance" href="javascript:;">Performance</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>

          <!-- first level submenu -->
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>Performance</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="Performance link 1" href="javascript:;">
                  Performance link 1
                </a>
              </li>
              <li>
                <a aria-label="Performance link 2" href="javascript:;">
                  Performance link 2
                </a>
              </li>
              <li>
                <a aria-label="Performance link 3" href="javascript:;">
                  Performance link 3
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a aria-label="Locations" href="javascript:;">Locations</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>Locations</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="Locations link 1" href="javascript:;">
                  Locations link 1
                </a>
              </li>
              <li>
                <a aria-label="Locations link 2" href="javascript:;">
                  Locations link 2
                </a>
              </li>
              <li>
                <a aria-label="Locations link 3" href="javascript:;">
                  Locations link 3
                </a>
              </li>
              <li>
                <a aria-label="Locations link 4" href="javascript:;">
                  Locations link 4
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a aria-label="Events" href="javascript:;">Events</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>Events</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="Events link 1" href="javascript:;">
                  Events link 1
                </a>
              </li>
              <li>
                <a aria-label="Events link 2" href="javascript:;">
                  Events link 2
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a aria-label="Community" href="javascript:;">Community</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>Community</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="Community link 1" href="javascript:;">
                  Community link 1
                </a>
              </li>
              <li>
                <a aria-label="Community link 2" href="javascript:;">
                  Community link 2
                </a>
              </li>
              <li>
                <a aria-label="Community link 3" href="javascript:;">
                  Community link 3
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a aria-label="About us" href="javascript:;">About us</a>
          <div
            class="mobile-menu-arrow"
            tabindex="0"
            onclick="mobileMenuArrow(event)"
            onkeypress="mobileMenuArrow(event)"
          >
            <svg>
              <use xlink:href="svg/sprite.svg#right-mobile-arrow"></use>
            </svg>
          </div>
          <div class="mobile-menu-submenu">
            <div class="mobile-menu-head">
              <div class="mobile-menu-back">
                <a
                  aria-label=""
                  href="javascript:;"
                  onclick="mobileMenuBack(event)"
                  onkeypress="mobileMenuBack(event)"
                >
                  <svg>
                    <use xlink:href="svg/sprite.svg#back-arrow"></use>
                  </svg>
                </a>
              </div>
              <div class="mobile-menu-title">
                <p>About us</p>
              </div>
            </div>
            <ul>
              <li>
                <a aria-label="About us link 1" href="javascript:;">
                  About us link 1
                </a>
              </li>
              <li>
                <a aria-label="About us link 2" href="javascript:;"
                  >About us link 2</a
                >
              </li>
              <li>
                <a aria-label="About us link 3" href="javascript:;"
                  >About us link 3</a
                >
              </li>
              <li>
                <a aria-label="About us link 4" href="javascript:;"
                  >About us link 4</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- Main Header end -->
