<!-- Main Footer start -->
<footer class="main-footer">
  <div class="container">
    <div class="main-footer-middle">
      <div class="layout-row flex-wrap">
        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Sanford Sports"
                >Sanford Sports</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Locations">Locations</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Who we are">Who we are</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Careers">Careers</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Rentals">Rentals</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Host an event"
                    >Host an event</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Latest news"
                    >Latest news</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Media info">Media info</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Partners">Partners</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Privacy policy"
                    >Privacy policy</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Sponsors">Sponsors</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Terms of use"
                    >Terms of use</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Sports">Sports</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="All sports">All sports</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Baseball">Baseball</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Basketball">Basketball</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Football">Football</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Golf">Golf</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Hockey">Hockey</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Softball">Softball</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Volleyball">Volleyball</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Partner Sports"
                >Partner Sports</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Lacrosse">Lacrosse</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Wrestling">Wrestling</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Soccer">Soccer</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Track & Field"
                    >Track & Field</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Performance Training"
                >Performance Training</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Speed & Agility"
                    >Speed & Agility</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Strength & Conditioning"
                    >Strength & Conditioning</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Rehab">Rehab</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Performance Lab"
                >Performance Lab</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Sports nutrition"
                    >Sports nutrition</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Mental performance"
                    >Mental performance</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Recovery">Recovery</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Testing">Testing</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Locations">Locations</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Sioux Falls, SD"
                    >Sioux Falls, SD</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Bemidji, MN"
                    >Bemidji, MN</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Bismark, ND"
                    >Bismark, ND</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Fargo, ND">Fargo, ND</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Grand Forks, NK"
                    >Grand Forks, NK</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Irvine, CA">Irvine, CA</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Satellite Locations"
                >Satellite Locations</a
              >
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Aberdeen">Aberdeen</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Dickenson">Dickenson</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Watford City"
                    >Watford City</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-item">
          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Events">Events</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Sports">Sports</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Academy Events"
                    >Academy Events</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Signature Events"
                    >Signature Events</a
                  >
                </li>
                <li>
                  <a href="javascript:;" aria-label="Expos & Banquets"
                    >Expos & Banquets</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="main-footer-menu">
            <div class="main-footer-menu-title">
              <a href="javascript:;" aria-label="Community">Community</a>
              <div class="main-footer-menu-open"></div>
            </div>
            <div class="main-footer-menu-list">
              <ul>
                <li>
                  <a href="javascript:;" aria-label="Blog">Blog</a>
                </li>
                <li>
                  <a href="javascript:;" aria-label="Fans">Fans</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="main-footer-menu">
          <div class="main-footer-menu-title">
            <a href="javascript:;" aria-label="Questions?">Questions?</a>
          </div>
          <div class="main-footer-menu-list main-footer-socials">
            <p>Contact us</p>
            <ul>
              <li>
                <a class="email-item" title="email" href="javascript:;">
                  <svg>
                    <use xlink:href="svg/sprite.svg#email"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="message-item" title="message" href="javascript:;">
                  <svg>
                    <use xlink:href="svg/sprite.svg#message"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a class="phone-item" title="phone" href="javascript:;">
                  <svg>
                    <use xlink:href="svg/sprite.svg#phone"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <div class="main-footer-menu-title">
            <span>Choose the right sport</span>
          </div>
          <div class="main-footer-menu-list main-footer-button">
            <a
              class="button inversed"
              href="javascript:;"
              aria-label="Take assessment"
              >Take assessment</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="main-footer-bottom">
      <div class="copyright">
        <p>© 2022 Sanford Sports, LLC. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Main Footer end -->
