.four-cards-homepage {
  height: 10rem;
  @include respondto(desktopSm) {
    height: 14rem;
  }
  @include respondto(maxTablet) {
    height: unset;
  }

  .display-flex {
    @include respondto(phone) {
      flex-direction: column;
    }
  }
  .card-item {
    padding: 3rem;
    text-align: center;
    border-right: 1px solid #f4f1f1;
    @include respondto(phone) {
      border-right: unset;
      border-radius: 5px;
      box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.05);
      background-color: $white;
      margin-bottom: 2.5rem;
      width: 100%;
      padding: 3rem 1rem;
    }
    img {
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      @include font-weight(extrabold);
      margin-bottom: 0.6rem;
    }
    span {
      font-size: 1.3rem;
      color: #747474;
    }
  }
  .absolute-bottom {
    @include respondto(phone) {
      flex-direction: column;
      background: unset;
      box-shadow: unset;
    }
  }
}
