.three-column-slider {
  &.columns-with-tabs {
    .buttons-block {
      justify-content: flex-end;

      @include respondto(onlyDesktop) {
        padding: 0 1.5rem;
      }
    }

    .title-wrapper {
      @include respondto(desktopSm) {
        justify-content: space-between;
      }

      @include respondto(maxTablet) {
        margin-bottom: 0;
      }

      @include respondto(tablet) {
        padding: 0 1.5rem;
      }

      @include respondto(phone) {
        padding: 0 2.5rem;
      }
    }

    .title-block {
      @include respondto(desktopSm) {
        max-width: 45rem;
      }
    }

    .btn-wrapper {
      margin-right: 0;
    }

    .nav-tabs {
      border: none;

      @include respondto(maxTablet) {
        justify-content: space-between;
        width: 100%;
      }

      .button {
        font-family: $font-secondary;
        font-size: 1.8rem;
        margin-right: 0;
        padding: 0.8rem 1rem;
        text-transform: initial;

        @include respondto(phoneSm) {
          font-size: 1.6rem;
          padding: 0.8rem 0.5rem;
        }

        @media (max-width: 390px) {
          font-size: 1.4rem;
        }

        &:not(.active) {
          border: 1px solid $nobel;
        }

        &:hover,
        &:focus {
          border-color: $black;
          color: $black;
        }
      }

      .nav-item {
        @include respondto(tablet) {
          width: 48%;
        }

        @include respondto(phone) {
          width: 48%;
        }

        @include respondto(phoneSm) {
          width: 49%;
        }

        &:last-child {
          margin-left: 2.5rem;

          @include respondto(phone) {
            margin-left: 0.5rem;
          }
        }

        svg {
          height: 2.3rem;
          margin-right: 1rem;
          width: 2.5rem;
        }
      }
    }

    .title-wrapper,
    .columns-filter {
      @include respondto(onlyDesktop) {
        margin-bottom: 4rem;
      }
    }

    .columns-filter {
      @include respondto(maxTablet) {
        margin-bottom: 2rem;
      }
    }

    .select-wrapper {
      align-items: flex-end;
    }

    .select-box {
      margin-bottom: 0;
    }

    .slider-block {
      @include respondto(onlyDesktop) {
        max-width: initial;
        padding: 0 1.5rem;

        .swiper-wrapper {
          flex-wrap: wrap;
        }

        .swiper-slide {
          margin-bottom: 2.5rem;
          max-width: 31.9%;

          &:not(:nth-child(3n)) {
            margin-right: 2%;
          }
        }
      }
    }

    .no-item {
      display: none;

      &.show {
        display: block;
      }
    }

    .load-more {
      margin-top: 7rem;
    }

    .swiper-wrapper {
      &.view-all {
        .swiper-slide {
          display: flex !important;
        }
      }
    }

    .swiper-slide {
      display: none;
    }
  }
}
