.width-tabs {
  .buttons-block {
    bottom: 2rem !important;

    @media screen and (max-width: 1280px) {
      bottom: unset !important;
      top: 46rem !important;
    }
    @include respondto(maxTablet) {
      max-width: 100%;
    }
    .swiper-slide {
      height: 0rem !important;
      @include respondto(phone) {
        height: auto !important;
      }
    }
  }

  //if hero-branding have class h-550 set styles
  &.h-550 {
    .buttons-block {
      top: 47.3rem !important;
      bottom: unset !important;

      @media screen and (max-width: 1282px) {
        bottom: unset !important;
        top: 47rem !important;
      }
      @include respondto(maxTablet) {
        max-width: 100%;
      }
    }
    .text-block {
      min-height: 45rem !important;
    }
  }
}

.hero-branding-sports {
  .text-block {
    p {
      max-width: 52rem;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    }
    h1 {
      @include respondto(phone) {
        max-width: 40rem;
      }
    }
  }

  .swiper-slide {
    img,
    .video-iframe {
      border-bottom: 0.5rem solid $seagull;
      @include respondto(phone) {
        border-bottom: 1.6rem solid $seagull;
      }
    }
  }
}
