.full-size-carousel {
  margin-bottom: 10.8rem;
  position: relative;

  @include respondto(maxTablet) {
    margin-bottom: 2rem;
  }

  .swiper-container {
    padding: 0rem 0rem 2rem 0rem;

    @include respondto(desktopSm) {
      padding-bottom: 9rem;
    }
  }

  .swiper-slide {
    picture {
      display: block;
      background-color: $black;
    }

    .left-pad {
      padding-left: 0rem !important;
      h2 {
        font-size: 3.7rem;
      }
    }

    img {
      height: 73rem;

      @media (min-width: 992px) and (max-width: 1280px) {
        height: auto;
        min-height: 54rem;
      }

      @include respondto(tablet) {
        height: 53rem;
      }

      @include respondto(phone) {
        border: none !important;
        height: 19rem;
      }
    }

    @include respondto(maxTablet) {
      border-width: 1.6rem;
      margin-bottom: 3rem;
    }

    a {
      max-width: 48rem;
      background-color: $black;
      box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.25);
      position: absolute;
      bottom: -2rem;
      right: 3.5rem;
      color: $white;
      padding: 4rem;

      @include respondto(phone) {
        max-width: 100% !important;
        position: unset !important;
      }

      @include respondto(phoneSm) {
        padding: 2rem;
      }

      .h3 {
        color: $white;
        font-size: 3rem;
        line-height: 5.2rem;
        margin-bottom: 1rem;

        @include respondto(phone) {
          font-size: 2.4rem;
        }
      }

      .text {
        font-size: 1.2rem;
        margin-bottom: 2.3rem;
        max-width: 36rem;
        @include respondto(phone) {
          font-size: 1.6rem;
        }
      }
      .link-item {
        span {
          font-size: 1.2rem;
          color: $white;
          @include font-weight(extrabold);
          @include respondto(phone) {
            font-size: 2.2rem;
          }
        }
        svg {
          fill: $white;
        }
      }
    }
  }

  .custom-slider-navs {
    .custom-slider-nav,
    .custom-slider-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @include respondto(maxTablet) {
        display: none;
      }
    }

    button {
      background-color: transparent;
      border: none;

      svg {
        fill: $black;
        height: 40px;
        width: 14px;

        @media (min-width: 992px) and (max-width: 1350px) {
          fill: $white;
        }
      }
    }
  }

  .swiper-pagination-bullets {
    @include respondto(maxTablet) {
      bottom: 0rem !important;
      display: flex !important;
    }

    @include respondto(phone) {
      bottom: 1rem !important;
    }
  }

  .swiper-pagination {
    @include respondto(desktopSm) {
      display: flex !important;
    }
  }

  .custom-slider-nav--next,
  .custom-slider-nav--prev {
    color: $black;

    &.swiper-button-disabled {
      display: none;
    }

    @include respondto(maxTablet) {
      display: none;
    }

    @include respondto(desktopSm) {
      display: none;
    }
  }

  .custom-slider-nav--prev {
    left: -5rem;

    @media (min-width: 992px) and (max-width: 1350px) {
      left: 2rem;
    }
  }

  .custom-slider-nav--next {
    right: -5rem;

    @media (min-width: 992px) and (max-width: 1350px) {
      right: 2rem;
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
