.tabs-list {
  @include respondto(maxTablet) {
    margin: auto;
    margin-bottom: 5.6rem;
  }
  @include respondto(phone) {
    margin: unset;
  }

  .swiper-container {
    overflow: visible;
    @include respondto(phone) {
      overflow: hidden;
    }
  }

  .swiper-slide {
    max-width: 30rem;

    @include respondto(onlyDesktop) {
      &:first-child {
        span {
          padding-left: 0;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      max-width: 23rem;
    }
    @include respondto(maxTablet) {
      max-width: 20rem;
    }
    @include respondto(phone) {
      max-width: 34rem;
    }
  }

  .button-lg {
    border: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a {
      font-size: 1.8rem;
      position: relative;

      @include respondto(maxTablet) {
        color: $black;
        font-size: 1.6rem;
        &::after {
          content: "";
          position: absolute;
          left: 0rem;
          bottom: -1.2rem;
          width: 75%;
          height: 0.6rem;
        }
      }
    }

    @include respondto(onlyDesktop) {
      &.active a {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0rem;
          bottom: -2.2rem;
          width: 100%;
          height: 1rem;
          @media screen and (max-width: 1281px) {
            bottom: -2.9rem;
          }
          // @include respondto(maxTablet) {
          //   width: 85%;
          //   bottom: -2rem;
          // }
        }
      }
    }

    span {
      width: 19rem;
    }
  }
}
.tabs-widget {
  /* Tab content section */
  .tabs-content {
    margin-bottom: 10.8rem;

    @include respondto(maxTablet) {
      margin-bottom: 5rem;
    }

    h2 {
      @include respondto(onlyDesktop) {
        margin-bottom: 7.5rem;
      }
    }

    .myaccordion {
      margin-bottom: 0;
    }

    .justify-content-between {
      gap: 9rem;
      @include respondto(maxTablet) {
        gap: 0rem;
      }
    }

    .box-content {
      width: 32%;
      @include respondto(maxTablet) {
        width: 100%;
        margin-bottom: 2.5rem;
      }
      img {
        @include respondto(maxTablet) {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .content-block {
      width: 60%;
      padding-right: 10rem;
      @include respondto(maxTablet) {
        width: 100%;
        padding-right: 0rem;
      }

      p {
        font-family: $font-secondary;
        font-style: normal;
        @include font-weight(regular);
        font-size: 1.6rem;

        &:nth-child(2) {
          margin-bottom: 3.5rem;
        }
      }
    }

    .card-body {
      p {
        @include respondto(onlyDesktop) {
          max-width: 57rem;
        }

        @include respondto(maxTablet) {
          padding-right: 2rem;
        }
      }
    }

    .tabs .tab {
      display: none;
    }

    .active {
      display: block !important;
    }

    .btn-link {
      &:focus {
        outline: 1px solid $seagull;
      }
      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }
}

.buttons-tabs {
  @include respondto(desktop) {
    padding-left: 1.5rem;
  }

  @include respondto(desktopSm) {
    padding-left: 0.5rem;
  }

  @include respondto(maxTablet) {
    padding-right: 0;
  }

  .button-lg {
    @include respondto(tablet) {
      padding-left: 0.5rem;
    }

    @include respondto(phone) {
      padding-left: 0;
    }
  }
}
