.map-block-variation {
  margin-bottom: 0rem;

  .two-colums {
    display: flex;

    @include respondto(maxTablet) {
      margin-bottom: 6.5rem;
    }

    @include respondto(phone) {
      flex-direction: column;
    }

    .info-block:first-child {
      @include respondto(phone) {
        margin-bottom: 5rem;
      }
    }

    .container {
      @include respondto(phone) {
        padding: 0;
      }
    }

    .info-block {
      p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        @include font-weight(extrabold);
      }
      .mail-to-link {
        margin-bottom: 0rem;
        @include font-weight(extrabold);
        color: $black;

        svg {
          width: 1.5rem;
          height: 1.1rem;
          margin-right: 1.4rem;
        }
      }
      .share-to-link {
        margin-bottom: 0rem;
        a {
          color: black;
        }
      }
      span {
        display: block;
        font-size: 1.2rem;
        line-height: 1.8rem;
        max-width: 20rem;

        @include respondto(phone) {
          max-width: 100%;
        }
      }
      span:nth-of-type(1) {
        margin-bottom: 2.4rem;
      }
      span:nth-of-type(2) {
        margin-bottom: 2.4rem;
      }
      .job-title {
        padding-left: 3.3rem;
      }
    }
  }
}
