.wide-block-content {
  margin-bottom: 10.8rem;
  background-color: $black;
  padding: 7.9rem 0rem;

  @include respondto(maxTablet) {
    margin-bottom: 3rem;
  }

  .box-content:first-child {
    margin-right: 9rem;

    @include respondto(maxTablet) {
      margin-right: 0rem;
    }
  }
  .content-block {
    .col-sm-12 {
      padding-top: 5rem;
      padding-left: 0px;
      margin-bottom: 5.7rem;
      h3 {
        color: $white;
      }
    }
    .h3 {
      display: block;
      font-size: 2.6rem;
      font-family: $font-secondary;
      margin-bottom: 1.6rem;
      color: $white;
      text-transform: capitalize;
    }
    p {
      font-family: $font-secondary;
      font-size: 2.2rem;
      line-height: 3.2rem;
      margin-bottom: 4.9rem;
      color: $white;
      max-width: 37.5rem;
      @include respondto(maxTablet) {
        max-width: 100%;
      }
    }
    .buttons-block {
      padding-left: 0px !important;
      @include respondto(phone) {
        max-width: 100%;
        padding-right: 0px !important;
      }
    }
    .white-btn {
      color: $white;
      @include respondto(phone) {
        width: 100%;
      }
    }
  }
}
