.filtered-features {
  background-size: cover;
  width: 100%;
  margin-bottom: 14rem;
  min-height: 71rem;
  padding-top: 3.5rem;
  position: relative;

  @include respondto(maxTablet) {
    margin-bottom: 0;
  }

  .no-item {
    display: none;

    &.show {
      display: block;
    }
  }

  h2,
  p {
    color: $white;
  }

  .content-block {
    width: 100%;
  }

  .title-block {
    margin-bottom: 8rem;

    @include respondto(maxTablet) {
      margin-bottom: 2.5rem;
    }
  }

  .mobile-filter-btn {
    margin: 0 0 4rem 0;
    padding: 0 2.5rem;
  }

  .card-filters {
    margin-bottom: 11rem;

    @include respondto(maxTablet) {
      margin-bottom: 4rem;
      padding: 0 2.5rem;
    }
  }

  .card-item-wrapper {
    flex-wrap: wrap;
  }

  .card-filter {
    &:not(:last-child) {
      margin-right: 4rem;
    }

    .bootstrap-select {
      &:not([class*="col-"]),
      &:not([class*="form-control"]),
      &:not(.input-group-btn) {
        border-bottom: 1px solid $white;
        min-width: 7rem;
      }

      .btn {
        background-color: transparent;
        height: 3rem;
      }

      .filter-option-inner-inner {
        color: $white;
        font-size: 1.6rem;
      }

      .dropdown-item.active {
        background-color: $seagull;
      }

      .dropdown-toggle {
        &:after {
          background: url("../img/svg/down-arrow-white.svg") no-repeat center
            center;
        }
      }
    }
  }

  .card-listing-filters.card-listing {
    margin-bottom: 0;

    @include respondto(onlyDesktop) {
      min-height: 38rem;

      > .row {
        margin: 0;

        > .col-sm-12 {
          padding: 0;
        }
      }
    }

    .card-item {
      min-height: 37rem;

      @include respondto(onlyDesktop) {
        margin-top: 1rem;
        padding: 3rem 3.5rem;
        transition: all 0.3s ease-in;
      }

      @include respondto(maxTablet) {
        background-color: transparent;
        padding: 0;
        border-right: none !important;
        min-height: initial;
        padding-bottom: 10rem;
      }

      &:hover,
      &:focus {
        @include respondto(onlyDesktop) {
          padding: 3rem 5.5rem;
          transform: scale(1.15);

          .slider {
            transition: all 0.3s ease-in;
            background-color: none !important;
          }
        }

        @include respondto(maxTablet) {
          background-color: initial !important;

          .slider {
            background-color: $seagull;
          }
        }
      }
    }

    .row {
      @include respondto(maxTablet) {
        margin: 0;
      }
    }

    .slider {
      border-bottom: none;
      flex-direction: column;

      @include respondto(maxTablet) {
        width: 100%;
        border-bottom: 1rem solid $seagull;
        background-color: $black;
        padding: 3rem;
        min-height: 42rem;
        border-right: 0;
      }

      .text {
        font-size: 1.2rem;
        max-width: 24rem;

        @include respondto(tablet) {
          max-width: 100%;
        }
      }
    }
  }

  .swiper-pagination {
    @include respondto(maxTablet) {
      bottom: 4rem;
      height: 2rem;
    }
  }

  .custom-slider-nav--prev,
  .custom-slider-nav--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @include respondto(maxTablet) {
      display: none;
    }

    svg {
      fill: $white;
    }
  }

  .custom-slider-nav--prev {
    left: 4rem;
  }

  .custom-slider-nav--next {
    right: 4rem;
  }
}
