.full-width-slider {
  margin-bottom: 9.5rem;
  overflow-x: hidden;

  .title-block {
    margin-bottom: 5.5rem;
  }

  .section-with-carousel {
    .swiper-slide {
      .slider-item {
        overflow: hidden;
        width: 100%;
      }

      img {
        height: 300px;
        object-fit: cover;
        width: 100%;

        @include respondto(maxTablet) {
          height: 220px;
        }

        @include respondto(phoneSm) {
          height: 130px;
        }
      }
    }
  }
}
