.button {
  background-color: transparent;
  border: 1px solid $white;
  color: $black;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  padding: 1.2rem 2rem;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: $seagull;
    color: $seagull;
  }

  &.inversed {
    border-color: $white;
    color: $white;

    &:hover,
    &:focus {
      border-color: $seagull;
      color: $seagull;
    }
  }

  &.black-btn {
    border: 2px solid $black;
    color: $black;

    &:hover,
    &:focus {
      border-color: $seagull;
      color: $seagull;
    }
  }

  @include respondto(phone) {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

//large button
.button-lg {
  border: 2px solid $white;
  display: flex;
  align-items: center;
  font-family: $font-primary;
  font-size: 2.2rem;
  letter-spacing: 0.03em;
  justify-content: space-between;
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in;

  &,
  span {
    line-height: 2.6rem;
  }

  @include respondto(desktopSm) {
    padding: 0.6rem 2rem;
  }

  @include respondto(maxTablet) {
    padding: 1.3rem 2.1rem 1.3rem 2.5rem;

    &,
    span {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
  }

  span {
    width: 21rem;

    @include respondto(maxTablet) {
      width: 15rem;
    }
  }

  svg {
    fill: $white;
    height: 3.1rem;
    transition: fill 0.3s ease-in;
    width: 1.7rem;
  }

  &:hover,
  &:focus {
    border-color: $seagull;
    color: $seagull;

    svg {
      fill: $seagull;
    }
  }
}

.button-tag {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 1.7rem;
  color: $black;
  font-size: 1.4rem;
  padding: 0.8rem 1.8rem;
  transition: all 0.3s ease-in;

  &:active,
  &.is-checked {
    background-color: $seagull;
    border-color: $seagull;
    color: $white;
  }

  &:hover,
  &:focus {
    border-color: $seagull;
    color: $seagull;
    text-decoration: none;
  }
}
.button-shop {
  button {
    height: 35px;
    padding: 6px 23px;
    border-radius: 5px;
    background-color: #313130;
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
  }
}
