// // color theme styles mixin
@mixin themable($theme-name, $theme-color) {
  .#{$theme-name} {
    .button-tag:focus,
    .button-tag:hover,
    .button-lg:focus,
    .button-lg:hover {
      border-color: $theme-color;
      color: $theme-color;

      svg {
        fill: $theme-color;
      }
    }

    .button-tag {
      &:active,
      &.is-checked {
        color: $white;
        background-color: $theme-color;
        border-color: $theme-color;
      }
    }

    .navigation-block {
      a {
        &.active,
        &:hover,
        &:focus {
          border-color: $theme-color;
        }
      }
    }

    .hero-branding {
      .background-image,
      .video-iframe,
      .swiper-slide img {
        border-color: $theme-color;
      }

      .text-block h1 span,
      .text-block a {
        color: $theme-color;
      }

      &.hero-variation {
        .background-image,
        .video-iframe,
        .swiper-slide img {
          border: none;
        }
      }
    }

    .bottom-border {
      &:after {
        background-color: $theme-color;
      }
    }

    .card-listing:not(.card-listing-filters) {
      .card-item-wrapper {
        border-color: $theme-color;
      }

      .card-item {
        &:hover,
        &:focus {
          background-color: $theme-color;

          @include respondto(maxTablet) {
            background-color: $theme-color;
          }

          .slider {
            background-color: $theme-color;
          }
        }
      }

      .swiper-slide {
        .slider {
          border-bottom: 10px solid $theme-color;
        }
      }

      .swiper-pagination
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $theme-color;
      }

      &.card-listing-filters {
        .card-item {
          &:hover,
          &:focus {
            @include respondto(onlyDesktop) {
              .slider {
                background-color: none !important;
              }
            }
          }
        }
      }
    }

    .card-listing.with-image {
      .swiper-slide {
        .slider {
          border-bottom: none !important;
        }
      }
    }

    .swiper-pagination
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: $theme-color;
    }

    .filtered-features {
      border-top: 1rem solid $theme-color;
      .card-listing {
        border-bottom: 1rem solid $theme-color;

        &.card-listing-filters {
          @include respondto(maxTablet) {
            border: none;
          }

          .slider {
            border-color: $theme-color;
          }
        }
      }

      .card-listing-filters.card-listing .card-item:focus .slider,
      .card-listing-filters.card-listing .card-item:hover .slider,
      .card-filter .bootstrap-select .dropdown-item.active {
        background-color: $theme-color;
      }
    }

    .filtered-category .element-item .content-block,
    .featured-post .slider-wrapper .content-block {
      border-color: $theme-color;
    }

    .main-footer {
      border-top: 1rem solid $theme-color;

      a,
      button {
        &:hover,
        &:focus {
          border-color: $theme-color;
          color: $theme-color;
        }
      }

      .button {
        &:hover,
        &:focus {
          border-color: $theme-color;
        }
      }
    }

    .main-footer-socials a {
      svg {
        fill: $theme-color;
      }

      @supports (-moz-appearance: none) {
        svg {
          background-color: $theme-color;
        }
      }

      &:hover,
      &:focus {
        svg {
          fill: darken($theme-color, 20%);
        }

        @supports (-moz-appearance: none) {
          svg {
            background-color: darken($theme-color, 20%);
          }
        }
      }
    }

    .tabs-list {
      @include respondto(onlyDesktop) {
        .button-lg {
          &.active a {
            // color: $theme-color;
            &::after {
              background-color: $theme-color;
            }
          }
        }
      }
      @include respondto(maxTablet) {
        .button-lg {
          a::after {
            background-color: $theme-color;
          }
        }
      }
    }
    .full-size-carousel {
      .swiper-slide {
        img {
          border-bottom: 1rem solid $theme-color;
        }
        a {
          @include respondto(phone) {
            border-bottom: 1rem solid $theme-color;
          }
        }
      }
    }

    .card-listing {
      .card-item {
        &:hover,
        &:focus {
          background-color: $theme-color;
        }
      }
    }

    .social-block {
      .social-links {
        a {
          &:hover,
          &:focus {
            background-color: $theme-color;
          }
        }
      }
    }

    .social-block-widget {
      .social-links {
        a {
          &:hover,
          &:focus {
            svg {
              fill: $theme-color;
            }
          }
        }
      }
    }

    .filtered-category {
      .button.black-btn {
        &:hover,
        &:focus {
          border-color: $theme-color;
          color: $theme-color;
        }
      }
    }

    .short-hero-branding {
      img {
        border-color: $theme-color;
      }

      .button.black-btn {
        &:hover,
        &:focus {
          border-color: $theme-color;
          color: $theme-color;
        }
      }

      .text-block {
        h1 {
          color: $theme-color;
        }
      }
    }
  }
}
// end theme styles mixin

.safari-mac {
  @mixin themable($theme-name, $theme-color) {
    .#{$theme-name} {
      .main-footer-socials {
        a {
          svg {
            background-color: $theme-color;
          }

          &:hover,
          &:focus {
            svg {
              background-color: darken($theme-color, 20%);
            }
          }
        }
      }
    }
  }
}

// generate themes colors
@include themable(theme-1, #6cace4);
@include themable(theme-2, #ea0029);
@include themable(theme-3, #f1c319);
