// Colors
$white: #fff;
$black: #000;

$shark: #1d1d22;
$thunder: #231f20;
$mine-shaft: #202020;
$seagull: #6cace4;
$torch-red: #ea0029;
$ripe-lemon: #f1c319;
$la-palma: #1ca519;
$nobel: #b7b7b7;
$alto: #dfdfdf;
$athens-gray: #e9ebee;
$scorpion: #575757;
$silver: #c8c8c8;
$nobel: #b5b5b5;

//TIRAS COLORS
$Casablanca: #f5ad3f;

// General Variables
$base-index: 100;
$navbar-index: ($base-index * 1.5);
