$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;
$font-tertiary: "Assistant", sans-serif;

// Important: use font face from mixins file for specific font family?
// font Nunito Semibold - font weight 600  - add @include font-weight(semibold);
