$font-primary: "Roboto Slab", sans-serif;
$font-secondary: "Nunito Sans", sans-serif;
$font-tertiary: "Assistant", sans-serif;

// Important: use font face from mixins file for specific font family?
// font Nunito Semibold - font weight 600  - add @include font-weight(semibold);

