*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respondto(maxTablet) {
    font-size: 57.5%;
  }

  @include respondto(phone) {
    font-size: 62.5%;
  }
}

body {
  background-color: $white;
  color: $shark;
  font-family: $font-primary;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow-x: hidden;
}

b,
strong {
  display: inline-block;
}

img {
  max-width: 100%;
  transition: 0.3s;
  vertical-align: middle;
  width: auto;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  min-width: 5rem;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3rem;
  margin-top: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $black;
  font-family: $font-primary;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include font-weight(extrabold);
}

h1,
.h1 {
  font-size: 6.5rem;
  line-height: 6.5rem;
  font-family: $font-primary;

  @include respondto(phone) {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}

h2,
.h2 {
  font-size: 4.6rem;
  line-height: 5.2rem;

  @include respondto(phone) {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

h3,
.h3 {
  font-size: 3.4rem;
  line-height: 4rem;

  @include respondto(phone) {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

h4,
.h4 {
  font-size: 4.2rem;
}

h5,
.h5 {
  font-size: 3.4rem;
  line-height: 4.4rem;
}

h6,
.h6 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;

  @include respondto(phone) {
    font-size: 1.4rem;
    line-height: 2rem;
    line-height: 2rem;
  }
}

li {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

a {
  color: $seagull;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    color: $seagull;
    text-decoration: none;
  }

  // mac safari fix
  > span,
  > b,
  > strong {
    display: inline-block;
    line-height: 1.5;
  }
}

.body-page {
  background-color: #f7f7f7;
}
.absolute-top {
  max-width: 1350px;
  width: 100%;
  position: absolute;
  top: -6rem;
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include respondto(maxTablet) {
    position: inherit;
    top: unset;
    padding-bottom: 1rem;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.absolute-bottom {
  max-width: 1350px;
  border-radius: 5px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.05);
  background-color: $white;
  position: absolute;
  @include respondto(maxTablet) {
    position: inherit;
    margin-bottom: 2rem;
  }
}
.position-relative {
  position: relative;
}
// Safari browser only
// @media not all and (min-resolution: 0.001dpcm) {
//   @supports (-webkit-appearance: none) {

//   }
// }
