// breadcrumbs styles
.breadcrumbs-blog {
  border-top: 1px solid $scorpion;
  padding: 4.6rem 0rem 1rem;
  z-index: 2;
  width: 100%;

  @include respondto(maxTablet) {
    top: 64px;
    padding-left: 1.8rem;
  }

  li {
    &,
    a {
      color: $black;
      font-size: 1.2rem;

      @include respondto(phoneSm) {
        font-size: 1.2rem;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
      padding-right: 1.5rem;
      position: relative;

      &:after {
        color: $black;
        content: "|";
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &.active {
      color: $black;
      @include font-weight(extrabold);
    }

    a {
      &:hover,
      &:focus {
        color: $seagull;
      }
    }
  }
}

.homepage {
  .breadcrumbs-block {
    display: none;
  }
}
